.a {
    width: 1000px;
}

.b {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(148, 148, 216);
    border: 1px solid black;
}.b div {
    width: 45%;
}

.c {
    display: flex;
    justify-content: space-between;
    height: 500px;
    background-color: #919191;
}
.c textarea {
    padding: 10px;
    border: 1px solid black;
    width: 50%;
    outline:none;
    resize: none;
}