{% load static i18n %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" href="" />
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:locale" content="ko_KR">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="naver-site-verification" content="" />
    <meta name="facebook-domain-verification" content="" />

    <title>경이로움</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/layout.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    {% block static %}
    {% endblock static %}
  </head>
  <body>
    {% block content %} {% endblock content %}
    {% block js %}{% endblock js %}
  </body>
</html>
