{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- 스킵 네비게이션 -->
<div class="skip_nav">
	<a href="#">'#' 바로가기</a>
	<a href="#">'#' 바로가기</a>
	<a href="#">'#' 바로가기</a>
</div>
<!-- 스킵 네비게이션 -->

<!-- 구분선 -->
<hr class="skip">
<!-- 구분선 -->

<!-- WRAP -->
<div id="wrap">

	<!-- HEADER -->
	<header id="header">
		
		<div class="header_wrap">

			<!-- 로고 -->
			<h1 class="logo">
				<a href="{% url 'translate:home' %}">경이로움 (로고 및 홈으로 이동)</a>
			</h1>
			<!-- 로고 -->

		</div>
		
	</header>
	<!-- HEADER -->
	
	<!-- 구분선 -->
	<hr class="skip">
	<!-- 구분선 -->

	<!-- MAIN -->
	<main role="main" id="container">
		<h2 class="skip">본문내용</h2>
		<section class="content">
			

			<section id="section01">
				<div class="inner">
					<div class="txt">
						<span>경이로움의 새로운 번역 서비스</span>
						<div>
							세상의 모든 책을 연결합니다. </br>책 만을 위한, <span>AI 기계번역</span> 솔루션입니다.
						</div>
						<a href="{% url 'translate:login' %}">지금 무료 체험하기</a>
					</div>
				</div>
			</section>
			<section id="section02" class="section">
				<div class="inner">
					<div class="txt">
						더 이상 고민되지 않은 가격으로 </br>1/10 가격이면 모든 번역이 가능합니다.
					</div>
					<div class="img">
						<img src="{% static 'assets/img/s02_01.svg' %}">
					</div>
					<a href="{% url 'translate:login' %}">지금 무료 체험하기</a>
				</div>
			</section>
			<section id="section03" class="section">
				<div class="inner">
					<div class="txt">
						시간을 절약하여 </br>더 많은 번역이 가능합니다.
					</div>
					<div class="img">
						<img src="{% static 'assets/img/s03_01.svg' %}">
					</div>
					<a href="{% url 'translate:login' %}">지금 무료 체험하기</a>
				</div>
			</section>
			<section id="section04" class="section">
				<div class="inner">
					<div class="txt">
						언제, 어디서든 </br>가장 <span>저렴한 비용</span>으로 가장 <span>빠르고 손 쉽게</span>
					</div>
					<div class="img">
						<img src="{% static 'assets/img/s04_01.svg' %}">
					</div>
				</div>
			</section>
			<section id="section05" class="section">
				<div class="inner">
					<div class="txt">
						지금 바로 번역 솔루션을 </br>가장 먼저 체험할 기회
						<small>1회 한정 무료체험 가능</small>
					</div>
					<a href="{% url 'translate:login' %}">지금 무료 체험하기</a>
				</div>
			</section>
			<section id="section06">
				<div class="inner">
					<div class="txt">
						실제 편집자의 </br>생생한 사용 후기
					</div>
					<ul>
						<li>
							<div class="subject">시간이 엄청 절약돼요!! 너무 좋아요</div>
							<div class="etc">
								<span>양**</span><span><img src="{% static 'assets/img/s06_01.svg' %}"></span>
							</div>
							<div class="content">
								솔직히 진짜 빨리 될까 싶었는데 진짜 엄청 빠르더라구요!  시간이 절약되니까 양도 늘릴 수 있고 너무 좋아요.
							</div>
						</li>
						<li>
							<div class="subject">번역에 어울리는 깔끔한 문체입니다.</div>
							<div class="etc">
								<span>김**</span><span><img src="{% static 'assets/img/s06_01.svg' %}"></span>
							</div>
							<div class="content">
								다른 번역 프로그램에 비해 어투가 자연스럽고 깔끔해 원서 번역에 많은 도움을 받았습니다.
							</div>
						</li>
						<li>
							<div class="subject">비용 절감이 기대됩니다! ^^</div>
							<div class="etc">
								<span>안**</span><span><img src="{% static 'assets/img/s06_01.svg' %}"></span>
							</div>
							<div class="content">
								경이로움 AI  기계번역을 통해 초안 번역을 완료하고,  검수를 의뢰하는 형식으로 비용 절감이 기대됩니다! ^^
							</div>
						</li>
						<li>
							<div class="subject">번역 원서를 선정하는데 도움이 돼요~~!</div>
							<div class="etc">
								<span>정**</span><span><img src="{% static 'assets/img/s06_01.svg' %}"></span>
							</div>
							<div class="content">
								모든 원서를 번역해보고 국내로 도입하기에 부담이 컸는데 무료 체험으로 질 좋은 번역을 체험해볼 수 있어서...
							</div>
						</li>
					</ul>
				</div>
			</section>
			<section id="section07">
				<div class="inner">
					<div class="txt">
						자주 묻는 질문
					</div>
				</div>
				<div class="list">
					<ul>
						<li class="menu">
							<a>
								<div class="q">다른 번역 프로그램과 차이가 있나요?</div>
							</a>
							<div style="">
								경이로움 AI  기계번역 솔루션은 모든 데이터를 활용하여 번역하는 타 플랫폼과 달리 책의 데이터와 문장 ,  문맥 등만을 활용하여 
								딥러닝 된 ‘책 번역 최적화’ 솔루션입니다.
							</div>
						</li>
						<li class="menu">
							<a>
								<div class="q">무료 체험은 어떻게 할 수 있나요?</div>
							</a>
							<div style="">
								베타테스트 기간에는 누구나 자유롭게 체험이 가능합니다.  실제 서비스 오픈 후에는 회원가입 및 로그인을 통해 5,000 byte 
								이내에서 체험이 가능합니다.  한 층 업그레이드 된 번역 솔루션의 결과물을 지금 바로 만나보세요.
							</div>
						</li>
						<li class="menu">
							<a>
								<div class="q">원서를 옮겨 적는 불편함 없이 스캔은 불가할까요?</div>
							</a>
							<div style="">
								경이로움 AI  기계번역 솔루션은 향후 1 회 당 번역량 확대,  스캔본 텍스트화,  번역 감수 전문가 연결 서비스 등 고객의 번역 편의를 
								위한 추가 시스템을 지속적으로 구축해나갈 계획입니다.
							</div>
						</li>
						<li class="menu">
							<a>
								<div class="q">제휴 문의</div>
							</a>
							<div style="">
								좋은 의견이 있으시다면 언제든지 (주)사이다경제(02-2088-5754, contact@cidermics.com) 로 연락주십시오.
							</div>
						</li>
					</ul>
				</div>
			</section>

		</section>
	</main>
	<!-- MAIN -->
	
	<!-- 구분선 -->
	<hr class="skip">
	<!-- 구분선 -->
	
	<!-- FOOTER -->
	<footer id="footer">
		<div class="f_wrap float">

			<div class="quick">
				<a href="{% url 'translate:login' %}">지금 무료 체험하기</a>
			</div>
			
			<div class="f_logo">
				<a href="{% url 'translate:home' %}">경이로움</a>
			</div>


			<div class="info float">
				<div class="fl">
					<div class="div01">(주) 사이다경제 Co., Ltd.</div>
					<div class="div02"><span>대표번호 02-2088-5754</span><span>운영시간 11-19시</span></div>
				</div>
				<div class="fr">
					<div class="div01"><span>대표 김의현</span><span>개인정보책임 김의현</span></div>
					<div class="div02"><span>사업자등록번호 586-81-00920</span><span>통신판매업 제2018-서울강남-03824호</span></div>
				</div>
			</div>
			<div class="f_menu">
				<ul>
					<li><a href="#">이용약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>
				</ul>
			</div>
			<div class="copy">
				2022 사이다경제 CO., LTD ALL Rights Reserved.
			</div>
		</div>
	</footer>
	<!-- FOOTER -->

</div>
<!-- WRAP -->
{% endblock content %}
{% block js %}
<script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript">
	$(function(){
	 var rollHeader = 100;
	  $(window).scroll(function() {
		var scroll = getCurrentScroll();
		  if ( scroll >= rollHeader ) {
			   $('#header').addClass('roll');
			}
			else {
				$('#header').removeClass('roll');
			}
	  });
	function getCurrentScroll() {
		return window.pageYOffset || document.documentElement.scrollTop;
		}
	});
</script>
<script>
	$(".menu > a").click(function() {
		$(this).toggleClass('active').next('div').slideToggle(200);
		$(this).parent('.menu').toggleClass('active02');
		$(this).parent().siblings().children('div').slideUp(200);
		$(this).parent().siblings().children('.active').removeClass('active');
		$(this).parent('.active02').siblings().removeClass('active02');
		return false;
	});
</script>
<script type="text/javascript">

var prevScrollTop = 0;

var nowScrollTop = 0;

function wheelDelta(){
    return prevScrollTop - nowScrollTop > 0 ? 'up' : 'down';
};

$(window).on('scroll', function(){
nowScrollTop = $(this).scrollTop();
if(wheelDelta() == 'down'){
	$('.quick').addClass('roll');
}
if(wheelDelta() == 'up'){
	$('.quick').removeClass('roll');
}
prevScrollTop = nowScrollTop;
});

</script>
{% endblock js %}