{% extends 'base.html' %}
{% load static i18n %}
{% block static %}
<link rel="stylesheet" href="{% static 'assets/main.css' %}" type="text/css" />
{% endblock static %}
{% block content %}

변역

<div class="a">
    <div class="b">
        <div id="source_lang">한국어</div>
        <button onclick="reverse()">바꾸기</button>
        <div id="target_lang">영어</div>
    </div>
    <div class="c">
        <textarea maxlength="5000" name="word" type="search" class="c_a"></textarea>
        <textarea  name="output" type="search" class="c_b"></textarea>
    </div>
</div>
<button onclick="api_test(event)">통신</button>
<input type="text" name="click">

{% endblock content %}


{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    let data = {
        input : '',
        source_lang : '',
    }
    const source_lang = document.getElementById('source_lang')
    const target_lang = document.getElementById('target_lang')
    function api_test(event) {
        document.all.click.value ="클릭함"
        data.input = document.all.word.value
        data.source_lang = source_lang.innerText
        axios.post(`${origin}/api`,data).then((res)=> {
            document.all.output.value = res.data.output
        }).catch((err) => {
            console.log("err")
            document.all.click.value = `${err} 에러 ${origin}`
        })
    }
    function reverse() {
        if (source_lang.innerText === '한국어') {
            source_lang.innerText = '영어'
            target_lang.innerText = '한국어'
        } else {
            source_lang.innerText = '한국어'
            target_lang.innerText = '영어'
        }
    }
</script>
{% endblock js %}